// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import
  '../pages/home/home',
  '../pages/inbox/inbox',
  '../pages/nearby/nearby',
  '../pages/profile/profile',
  '../pages/search/search';

@import
  'components/badges',
  'components/banner',
  'components/buttons',
  'components/cards',
  'components/lists',
  'components/thumbnails';

.logo {
  max-width: 100px;
  margin-top: 8px;
}

.ion-content-padding {
  padding: 0 10px;
}

.size-12 {
  font-size: 12px;
}

.primary {
  color: color($colors, primary);
}

.toasted {
  transform: rotate(15deg);
}

ion-icon[extra-small] {
  min-height: .9em;
  font-size: .9em;
}

.toolbar[primary] {
  .toolbar-title {
    color: color($colors, absolute);
  }
}
