<ion-navbar *navbar primary>
  <ion-title><img src="build/img/logo.png" class="logo" /></ion-title>
</ion-navbar>
<ion-toolbar secondary>
  <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar>
</ion-toolbar>
<ion-toolbar secondary>
  <ion-segment [(ngModel)]="searchSegments" light>
    <ion-segment-button value="recent">Recent</ion-segment-button>
    <ion-segment-button value="suggested">Suggested</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="search">

  <div [ngSwitch]="searchSegments">

    <div class="recent" *ngSwitchWhen="'recent'">

      <ion-card class="card" *ngFor="let beer of recentBeers">
        <ion-card-content class="card-content">
          <ion-item class="card-content-item">
            <ion-thumbnail item-left>
              <img src="build/img/{{beer.beerIcon}}" />
            </ion-thumbnail>
            <ion-col>
              <h2 class="card-content-title">{{beer.beerTitle}}</h2>
              <p>by {{beer.brewer}}</p>
              <p><strong>Style:</strong> {{beer.beerStyle}}</p>
            </ion-col>
            <ion-icon class="card-content-icon--right" name="checkbox" primary item-right></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <div class="ion-content-padding">
        <button block>See More Recent Beers</button>
      </div>

    </div>

    <div class="suggested" *ngSwitchWhen="'suggested'">

      <ion-card class="card" *ngFor="let beer of suggestedBeers">
        <ion-card-content class="card-content">
          <ion-item class="card-content-item">
            <ion-thumbnail item-left>
              <img src="build/img/{{beer.beerIcon}}" />
            </ion-thumbnail>
            <ion-col>
              <h2 class="card-content-title">{{beer.beerTitle}}</h2>
              <p>by {{beer.brewer}}</p>
              <p><strong>Style:</strong> {{beer.beerStyle}}</p>
            </ion-col>
            <ion-icon class="card-content-icon--right" name="checkbox" primary item-right></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </div>

  </div>

</ion-content>
