<ion-navbar *navbar primary>
  <ion-title><img src="build/img/logo.png" class="logo" /></ion-title>
  <ion-buttons end>
    <button [hidden]="homeSegments != 'groups'">
      <ion-icon light name="list"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-toolbar secondary class="toolbar--short">
  <ion-segment [(ngModel)]="homeSegments" light>
    <ion-segment-button value="friends">Friends</ion-segment-button>
    <ion-segment-button value="nearby">Nearby</ion-segment-button>
    <ion-segment-button value="groups">Groups</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="home">

  <div [ngSwitch]="homeSegments">

    <div class="friends" *ngSwitchWhen="'friends'">
      <ion-card *ngFor="let status of friendStatii" class="card card--margin-bottom-l">

        <ion-card-header class="card-header">
          <ion-item class="card-header-item">
            <ion-avatar item-left class="card-header-avatar">
              <img src="build/img/{{status.friendAvatar}}">
            </ion-avatar>
            <h2 class="card-header-title">{{status.friendName}}</h2>
            <p>{{status.location}}</p>
            <p item-right>{{status.timeSince}}</p>
          </ion-item>
        </ion-card-header>

        <ion-card-content class="card-content">
          <ion-item class="card-content-item" (click)="viewCheckin(status)">
            <ion-thumbnail item-left class="card-content-thumbnail">
              <img src="build/img/{{status.beerIcon}}" />
            </ion-thumbnail>
            <ion-col>
              <h2 class="card-content-title">{{status.beerTitle}}</h2>
              <p>by {{status.brewer}}</p>
            </ion-col>
          </ion-item>
        </ion-card-content>

        <ion-card-footer class="card-footer">
          <ion-row class="card-footer-row">
            <ion-col light class="card-footer-col">
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
            </ion-col>
            <ion-col text-center width-20 class="card-footer-col">
              <ion-icon name="chatboxes" class="card-footer-icon"></ion-icon>
            </ion-col>
            <ion-col text-center width-20 class="card-footer-col">
              <ion-icon name="beer" class="card-footer-icon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-footer>

      </ion-card>
    </div>

    <div class="nearby" *ngSwitchWhen="'nearby'">
      <ion-card *ngFor="let status of nearbyStatii" class="card card--margin-bottom-l">

        <ion-card-jumbotron class="card-jumbotron" [ngStyle]="{'background-image': 'url(build/img/' + status.photo + ')'}">
          <ion-card-jumbotron-overlay class="card-jumbotron-overlay">
            <ion-item class="card-jumbotron-item">
              <ion-avatar item-left class="card-jumbotron-avatar">
                <h2 class="card-jumbotron-title">{{status.friendName}}</h2>
                <p class="card-jumbotron-text">{{status.location}}</p>
                <p item-right class="card-jumbotron-text">{{status.timeSince}}</p>
              </ion-avatar>
            </ion-item>
          </ion-card-jumbotron-overlay>
        </ion-card-jumbotron>

        <ion-card-content class="card-content">
          <ion-item class="card-content-item">
            <ion-thumbnail item-left class="card-content-thumbnail">
              <img src="build/img/{{status.beerIcon}}" />
            </ion-thumbnail>
            <ion-col>
              <h2 class="card-content-title">{{status.beerTitle}}</h2>
              <p>by {{status.brewer}}</p>
            </ion-col>
          </ion-item>
          <p>{{status.comments}}</p>
        </ion-card-content>

        <ion-card-footer class="card-footer">
          <ion-row class="card-footer-row">
            <ion-col light class="card-footer-col">
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
              <ion-icon name="trophy" class="card-footer-icon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-footer>
      </ion-card>
    </div>

    <div class="groups" *ngSwitchWhen="'groups'">
      <ion-card class="card">
        <ion-card-content class="card-content">
          <ion-item class="card-content-item">
            <ion-thumbnail item-left class="card-content-thumbnail">
              <ion-icon primary name="ios-help-circle-outline" class="card-content-icon"></ion-icon>
            </ion-thumbnail>
            <h2 class="cart-content-title">You haven't selected a default group.</h2>
            <p>Tap here to create your first group or select a default.</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
