<ion-navbar *navbar primary>
  <ion-title><img src="build/img/logo.png" class="logo" /></ion-title>
  <ion-buttons end>
    <button [hidden]="homeSegments != 'groups'">
      <ion-icon light name="list"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-toolbar>
  <ion-segment [(ngModel)]="homeSegments" secondary>
    <ion-segment-button value="friends">Friends</ion-segment-button>
    <ion-segment-button value="nearby">Nearby</ion-segment-button>
    <ion-segment-button value="groups">Groups</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="home">

  <div [ngSwitch]="homeSegments">

    <div class="friends" *ngSwitchWhen="'friends'">
      <ion-card *ngFor="let status of friendStatii">

        <ion-card-header>
          <ion-item>
            <ion-avatar item-left>
              <img src="build/img/{{status.friendAvatar}}">
            </ion-avatar>
            <h2>{{status.friendName}}</h2>
            <p>{{status.location}}</p>
            <p item-right>{{status.timeSince}}</p>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-avatar item-left>
              <img src="build/img/{{status.beerIcon}}" />
            </ion-avatar>
            <ion-col>
              <h2>{{status.beerTitle}}</h2>
              <p>by {{status.brewer}}</p>
            </ion-col>
          </ion-item>
        </ion-card-content>

        <ion-card-footer>
          <ion-row>
            <ion-col light>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
            </ion-col>
            <ion-col text-center width-20>
              <ion-icon name="chatboxes"></ion-icon>
            </ion-col>
            <ion-col text-center width-20>
              <ion-icon name="beer"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-footer>

      </ion-card>
    </div>

    <div class="nearby" *ngSwitchWhen="'nearby'">
      <ion-card *ngFor="let status of nearbyStatii">

        <ion-card-jumbotron [ngStyle]="{'background-image': 'url(build/img/' + status.photo + ')'}">
          <ion-card-jumbotron-overlay>
            <ion-item>
              <ion-avatar item-left>
                <h2>{{status.friendName}}</h2>
                <p>{{status.location}}</p>
                <p item-right>{{status.timeSince}}</p>
              </ion-avatar>
            </ion-item>
          </ion-card-jumbotron-overlay>
        </ion-card-jumbotron>

        <ion-card-content>
          <ion-item>
            <ion-avatar item-left>
              <img src="build/img/{{status.beerIcon}}" />
            </ion-avatar>
            <ion-col>
              <h2>{{status.beerTitle}}</h2>
              <p>by {{status.brewer}}</p>
            </ion-col>
          </ion-item>
          <p>{{status.comments}}</p>
        </ion-card-content>

        <ion-card-footer>
          <ion-row>
            <ion-col light>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
              <ion-icon name="trophy"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-footer>
      </ion-card>
    </div>

    <div class="groups" *ngSwitchWhen="'groups'">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-icon primary item-left name="ios-help-circle-outline" style="font-size: 3em"></ion-icon>
            <h2>You haven't selected a default group.</h2>
            <p>Tap here to create your first group or select a default.</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
