// *************************************
//
//   Banner
//   -> Ionic Banner Component
//
// *************************************

.banner {
  display: block;
  padding: 5px;
  border: 1px solid color($colors, light-dark);
  background-color: color($colors, light-darker);
}

.banner-label {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.banner-value {
  font-size: 1.4em;
  font-weight: bold;
}
