// *************************************
//
//   Thumbnails
//   -> Ionic Thumbnail Component
//
// *************************************


.grid-thumbnail {
  min-width: 6rem;
  min-height: 6rem;
}


.grid-thumbnail-image {
  max-width: 6rem;
  max-height: 6rem;
  margin: 0;
}
