<ion-navbar *navbar primary>
  <ion-title><img src="build/img/logo.png" class="logo" /></ion-title>
</ion-navbar>
<ion-toolbar secondary class="toolbar--short">
  <ion-segment [(ngModel)]="inboxSegments" light>
    <ion-segment-button value="notifications">Notifications</ion-segment-button>
    <ion-segment-button value="news">News</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="inbox">

  <div [ngSwitch]="inboxSegments">

    <div class="notifications" *ngSwitchWhen="'notifications'">

      <ion-card class="card" *ngFor="let notification of notifications">
        <ion-card-content class="card-content">
          <ion-item class="card-content-item">
            <ion-thumbnail item-left>
              <img src="build/img/{{notification.avatar}}" />
            </ion-thumbnail>
            <ion-col>
              <p><strong>{{notification.name}}</strong> toasted your check-in to <strong>{{notification.beer}}</strong> by <strong>{{notification.brewer}}</strong></p>
              <p>{{notification.date}}</p>
            </ion-col>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </div>

    <div class="news" *ngSwitchWhen="'news'">

      <ion-card class="card" *ngFor="let article of news">
        <ion-card-content class="card-content">
          <h2 class="card-content-title"><strong>{{article.title}}</strong></h2>
          <p>{{article.excerpt}}</p>
          <p>{{article.date}}</p>
        </ion-card-content>
      </ion-card>

    </div>

  </div>

</ion-content>
